/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Main container styling with a background image and color overlay */
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%), url("/static/images/background.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Navbar styling */
.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

/* Icon container (for the logo) */
.icon {
    width: 200px;
    float: left;
    height: 70px;
}

/* Logo styling */
.logo {
    color: #007bff;
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}

/* Menu container */
.menu {
    width: 400px;
    float: left;
    height: 70px;
}

/* Unordered list styling for the menu */
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* List items styling for the menu */
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

/* Links styling within the menu */
ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

/* Hover effect for the menu links */
ul li a:hover {
    color: #353ceb;
}

/* Search bar container */
.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

/* Search input field styling */
.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid #6610f2;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/* Search button styling */
.btn {
    width: 100px;
    height: 40px;
    background: #007bff;
    border: 2px solid #fff;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

/* Hover effect for the search button */
.btn:hover {
    color: #000;
}

/* Remove outline on focus for search button */
.btn:focus {
    outline: none;
}

/* Remove outline on focus for search input */
.srch:focus {
    outline: none;
}

/* Main content area styling */
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

/* Paragraph styling within the content */
.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

/* Main heading styling within the content */
.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

/* Call to action button styling */
.content .cn {
    width: 160px;
    height: 45px;
    background: #007bff;
    border: 1px solid #fff;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

/* Link within the call to action button */
.content .cn a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

/* Hover effect for the call to action button */
.cn:hover {
    background-color: #104b8f;
}

/* Styling for highlighted text within the content */
.content span {
    color:#007bff;
    font-size: 65px;
}

/* Order form styling */
.form {
    width: 250px;
    height: 430px;
    background: linear-gradient(to top, rgba(226, 210, 210, 0.247)50%,rgba(226, 210, 210, 0.247)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

/* Form heading styling */
.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color: #007bffb9;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

/* Form input fields styling */
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #06023f;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

/* Remove outline on focus for input fields */
.form input:focus {
    outline: none;
}

/* Placeholder text styling */
::placeholder {
    color: #fff;
    font-family: Arial;
}

/* Submit button styling for the order form */
.btnn {
    width: 240px;
    height: 40px;
    background: #007bffb9;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

/* Hover effect for the submit button */
.btnn:hover {
    background:#104b8f;
    color: #007bffb9;
}

/* Link styling within the submit button */
.btnn a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Social media icons container */
.icons a {
    text-decoration: none;
    color: #fff;
}

/* Ionicon styling for social media icons */
.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

/* Hover effect for social media icons */
.icons ion-icon:hover {
    color: #007bffb9;
}
